.answer {
    width: 25%;
    display: inline-block;
    text-align: center;
    color: black;
    
    margin: 15px;
    
    padding: 5px;
    padding-bottom: 5px;
}

.correct {
    background-color: green;
    border: 5px solid green ;
    background: green;
}

.red {
    background-color: red;
    border: 5px solid red ;
    background: red;
}