<div *ngIf="!quizList" class="spinner-grow text-primary"></div>
  <div *ngIf="quizList" class="container">
    <h1> Historia Trivia Time!</h1>
        <p> Choose your Subject!</p>
    
<div *ngFor="let quizItem of quizList">
<mat-card class="quizCard">
    <div>
      <mat-card-title> 
        <h2>{{quizItem.name}}</h2>
      </mat-card-title>
    <mat-card-actions>
        <button routerLink="/{{quizItem.fileName}}"> Let's Begin </button>
    </mat-card-actions>
  </div>
</mat-card>
  </div>
    
        



